<div id="modal-bill">
    <div class="modal-header">
        <i class="icon-remove-sign" ng-click="cancel()"></i>
        <h4>Deposit account</h4>
        <p>Balance <span>500</span> T-Coin</p>
    </div>
    <div class="modal-body">
        <div class="c-block">
            <div class="c-box default left">
                <div class="price">
                    <span class="format">100,000</span> <span class="currency">vnđ</span>
                </div>
                <div class="exchange">
                     <span>50</span> <b>T-Coin</b>
                </div>
                <div class="btn-glow success">Thanh toán</div>
            </div>
            <div class="c-box default right">
                <div class="price">
                    <span class="format">100,000</span> <span class="currency">vnđ</span>
                </div>
                <div class="exchange">
                    Tương ứng <span>50</span> <b>T-Coin</b>
                </div>
                <div class="btn-glow success">Payment</div>
            </div>
            <div class="c-box default left">
                <div class="price">
                    <span class="format">100,000</span> <span class="currency">vnđ</span>
                </div>
                <div class="exchange">
                    Tương ứng <span>50</span> <b>T-Coin</b>
                </div>
                <div class="btn-glow success">Payment</div>
            </div>
            <div class="c-box default right">
                <div class="price">
                    <span class="format">100,000</span> <span class="currency">vnđ</span>
                </div>
                <div class="exchange">
                    <span>50</span> <b>T-Coin</b>
                </div>
                <div class="btn-glow success">Payment</div>
            </div>
        </div>
        <div class="clearfix"></div>
        
        <div class="c-box extra">
            <div class="price">
                <span class="format">100,000</span> <span class="currency">vnđ</span>
            </div>
            <div class="exchange">
                <span>50</span> <b>T-Coin</b>
            </div>
            <div class="btn-glow">Payment</div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>
