<div class="login-wrapper login-bg">
    <a href="index.html">
        <img class="logo non-background" src="img/logo-white.png" alt="logo" />
    </a>

    <div class="box">
        <div class="content-wrap">
            <form name="loginForm">
                <h6>Quên mật khẩu</h6>
                <label>Vui lòng nhập địa chỉ email:</label>
                <input class="form-control" type="text" placeholder="Địa chỉ email" ng-model="email" name="email" required>
                <button type="submit" class="btn-glow primary login" ng-click="forgetPassword()" ng-disabled="loginForm.$invalid">Xác nhận</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#wrapper').css("padding", "0px");
    $('#width_wrapper').width("100%");
</script>

<style scoped>@import url('vendor/theme/styles/compiled/signin.css')</style>    