<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
<!-- main container -->
<div class="content">
    <div id="pad-wrapper">
        <!-- inbox table-->
        <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
        <div class="table-wrapper products-table">
            <div class="row head">
                <div class="col-md-12">
                    <h4>Notification</h4>
                </div>
            </div>

            <div class="row filter-block">
                <div class="pull-right">
                    <div class="ui-select">
                        <select>
                          <option>Filter users</option>
                          <option>Signed last 30 days</option>
                          <option>Active users</option>
                        </select>
                    </div>
                    <input type="text" class="search">
                </div>
            </div>

            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                <input type="checkbox">
                                From
                            </th>
                            <th class="col-md-3">
                                <span class="line"></span>Content
                            </th>
                            <th class="col-md-3">
                                <span class="line"></span>Activity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row -->
                        <tr class="first">
                            <td>
                                <input type="checkbox">
                                <div class="img">
                                    <img src="img/table-img.png" alt="pic" />
                                </div>
                                <a href="#" class="name">Generate Lorem </a>
                            </td>
                            <td class="description">
                                if you are going to use a passage of Lorem Ipsum.
                            </td>
                            <td>
                                <span class="label label-success">Active</span>
                                <ul class="actions">
                                    <li><a href="#">Edit</a></li>
                                    <li class="last"><a href="#">Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                        <!-- row -->
                        <tr>
                            <td>
                                <input type="checkbox">
                                <div class="img">
                                    <img src="img/table-img.png" alt="pic" />
                                </div>
                                <a href="#" class="name">Internet tend</a>
                            </td>
                            <td class="description">
                                There are many variations of passages.
                            </td>
                            <td>
                                <ul class="actions">
                                    <li><a href="#">Edit</a></li>
                                    <li class="last"><a href="#">Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                        <!-- row -->
                        <tr>
                            <td>
                                <input type="checkbox">
                                <div class="img">
                                    <img src="img/table-img.png" alt="pic" />
                                </div>
                                <a href="#" class="name">Generate Lorem </a>
                            </td>
                            <td class="description">
                                if you are going to use a passage of Lorem Ipsum.
                            </td>
                            <td>
                                <ul class="actions">
                                    <li><a href="#">Edit</a></li>
                                    <li class="last"><a href="#">Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                        <!-- row -->
                        <tr>
                            <td>
                                <input type="checkbox">
                                <div class="img">
                                    <img src="img/table-img.png" alt="pic" />
                                </div>
                                <a href="#" class="name">Internet tend</a>
                            </td>
                            <td class="description">
                                There are many variations of passages.
                            </td>
                            <td>
                                <span class="label label-info">Standby</span>
                                <ul class="actions">
                                    <li><a href="#">Edit</a></li>
                                    <li class="last"><a href="#">Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <div class="img">
                                    <img src="img/table-img.png" alt="pic" />
                                </div>
                                <a href="#" class="name">Generate Lorem </a>
                            </td>
                            <td class="description">
                                if you are going to use a passage of Lorem Ipsum.
                            </td>
                            <td>
                                <span class="label label-success">Active</span>
                                <ul class="actions">
                                    <li><a href="#">Edit</a></li>
                                    <li class="last"><a href="#">Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end products table -->
    </div>
</div>
<!-- scripts -->
<script src="vendor/theme/scripts/jquery-ui-1.10.2.custom.min.js"></script>
<script>
</script>