<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
<!-- main container -->
<div id="promotion-new" class="content">
    <div id="promotion-fuelux-wizard" class="wizard">
        <ul class="wizard-steps">
            <li data-target="#promotion-step1" class="active">
                <span class="z-step">TYPE</span><img class="line-step non-background" src="img/line_step.png" />
            </li>
            <li data-target="#promotion-step2">
                <span class="z-step">INFORMATION</span><img class="line-step non-background" src="img/line_step.png" />
            </li>
            <li data-target="#promotion-step3" >
                <span class="z-step">CONTENT</span><img class="line-step non-background" src="img/line_step.png" />
            </li>
            <li data-target="#promotion-step4">
                <span class="z-step">MANAGE</span>
            </li>
        </ul>                            
    </div>
    <div id="promotion-step-content" class="step-content form-page">
        <form>
            <div class="step-pane active" id="promotion-step1">
                <div class="step-description">
                    <div class="step-title">
                        <span class="step-name">Step 1:</span> Select type of your event.
                    </div>
                    Build information for your campaign
                </div>
                <div class="form-wrapper">
                    <div class="col-md-8">
                        <div class="step-wapper">
                            <div class="field-box">
                                <div class="flexslider">
                                  <ul class="slides">
                                    <li>
                                      <img src="img/kitchen_adventurer_cheesecake_brownie.jpg" />
                                    </li>
                                    <li>
                                      <img src="img/kitchen_adventurer_lemon.jpg" />
                                    </li>
                                    <li>
                                      <img src="img/kitchen_adventurer_donut.jpg" />
                                    </li>
                                    <li>
                                      <img src="img/kitchen_adventurer_caramel.jpg" />
                                    </li>
                                  </ul>
                                </div>
                            </div>
                            <div class="field-box">
                                <span class="title">TYPE OF EVENT</span>
                                <div class="ui-select">
                                    <select ng-model="promotionType" ng-options="promotionType as promotionType.name_display for promotionType in promotionTypes" ng-init="promotionType=promotionTypes[0]"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="height: 0;">
                    <div class="step-view-content">
                        PREVIEW
                        <tabset>
                            <tab>
                              <tab-heading>
                                <i class="icon-reorder"></i>
                              </tab-heading>
                              <table class="table attribute-table">
                                <thead>
                                    <tr><th>Property</th><th>Content</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>Type</td><td>{{promotionType.name_display}}</td></tr>
                                    <tr><td>Campaign</td><td>{{name}}</td></tr>
                                    <tr><td>Time</td><td>{{time}}</td></tr>
                                    <tr><td>Description</td><td>{{description}}</td></tr>
                                </tbody>
                              </table>
                            </tab>
                            <tab>
                              <tab-heading>
                                <i class="icon-mobile-phone"></i>
                              </tab-heading>
                              <img src="http://wowcamera.net/image/cache/data/phone/iphone-5-16gb-white-360x360.jpg" />
                            </tab>
                        </tabset>
                    </div>
                </div>

                <div class="col-md-8 with-sidebar">
                    <div class="col-md-11">
                        <div class="promotion-wizard-actions wizard-actions">
                            <button type="button" disabled class="btn-glow primary btn-prev"> 
                                <i class="icon-chevron-left"></i> Back
                            </button>
                            <button type="button" class="btn-glow primary btn-next" ng-click="goToStep2()">
                                Next <i class="icon-chevron-right"></i>
                            </button>
                            <button type="button" class="btn-glow success btn-finish">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- display step info -->
        </form>
    </div>
</div>
<!-- scripts -->
<style scoped>@import url('vendor/theme/styles/lib/flexslider.css')</style>
<script>
/*
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: false,
  });
});
*/
</script>