<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
	<!-- main container -->
    <div class="content">
        <div id="content_wrapper">
            <div class="notice shadow">
                <div class='col-md-9'>
                    <span class="btn-flat gray back">Back</span>                
                    <p class="title">Bắt đầu tạo sự kiện / chương trình khuyến mãi của bạn ngay!</p>
                    <p class="sub">Ac diam! Enim eu enim egestas, vel ac, ut? Vel sit urna tempor lectus integer. Ac rhoncus nec porttitor. Aliquet. Vut ultrices pid scelerisque! Porttitor augue et sed? </p>
                </div>
                <div class="col-md-3"><a class="btn-flat success icon-plus add_event">Tạo sự kiện mới</a></div>
                <div class="clearfix"></div>
            </div>
            
            <div class="content">
                <table class="table table-hover shadow" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th class="col-md-2">
                                Loại
                            </th>
                            <th class="col-md-4">
                                <span class="line"></span>Name
                            </th>
                            <th class="col-md-3">
                                <span class="line"></span>Duration
                            </th>
                            <th class="col-md-2">
                                <span class="line"></span>Status
                            </th>
                            <th class="col-md-1">
                                <span class="line"></span>Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row -->
                        <tr class="first">
                            <td>
                                Create Event
                            </td>
                            <td>
                                <a href="">Event in March</a>
                            </td>
                            <td>
                                1 Apr 2014 to 1 May 2014
                            </td>
                            <td>
                                <span class="btn-flat inverse">Expired</span>
                            </td>
                            <td> 
                                <span class="icon-edit">Edit</span>
                            </td>
                        </tr>
                        <tr class="highlight">
                            <td>
                                Create Event
                            </td>
                            <td>
                                <a href="">Event in March</a>
                            </td>
                            <td>
                               1 Apr 2014 to 1 May 2014
                            </td>
                            <td>
                                <span class="btn-flat success">Running</span>
                            </td>
                            <td> 
                                <span class="icon-edit">Edit</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        
            
        
    </div>
    <!-- end main container -->
</html>

<style scoped>@import url('vendor/theme/styles/compiled/user-list.css')</style>