<div class="sf_wrapper" style="display: block;"  ng-if="visibility">
    <div class="labels">
        <div class="grey_vert" style="display: block;"></div>
        <div class="grey_horz" style="display: block;"></div>
        <div class="seg_label" style="visibility: hidden;">x</div>
        <div class="action_group " >
        </div>
        <p class="add_condition" ng-click="addCondition(null)"> <i class="icon-plus-sign"></i> Add condition</p> 
    </div>
    <div class="query_builder">
        <div query-record events="events" id="0" metas="metas" event="event" metadata="metadata" class="row_0" data=".row_" olddata="{{firstData}}"></div>
    </div>
</div>