<div class="z-product">
    <div class="z-header">
        <div class="ui-select left">
            <select>
                <option selected="">Categories</option>
                <option></option>
            </select>
        </div>
        <span>50</span> product(s)
    </div>
    <div class="add-product">
        <i class="icon-plus"></i> Add Product
    </div>
    <ul class="list-product">
        <li>
            <span class="circle left">1</span>
            <img src="img/contact-img2.png" class="left" />
            <span class="name">Cafe capuchino</span>
            <a class="right">Sửa</a>
        </li>
    </ul>
    <ul class="detail-product">
        <li>
            <div class="property col-md-4">Hình ảnh phẩm</div>
            <div class="value col-md-8">
                <div class="edit">
                    <img src="img/contact-img2.png" class="left" /> 
                    <input type="file" class="right"/>
                </div>
            </div>
        </li>
        <li>
            <div class="property col-md-4">Tên ảnh phẩm</div>
            <div class="value col-md-8">
                <div class="edit">
                    <input class="form-control inline-block"/>
                    <i style="cursor:pointer" class="icon-ok-sign success"></i>
                </div>
            </div>
        </li>
    </ul>
    
</div>