<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
<!-- main container -->
<div id="promotion-new" class="content">
    <div id="funnel-fuelux-wizard" class="wizard">
        <ul class="wizard-steps">
            <li data-target="#funnel-step1" class="active">
                <span class="z-step">BUILD A FUNNELS</span><img class="line-step non-background" src="img/line_step.png" />
            </li>
            <li data-target="#funnel-step2">
                <span class="z-step">MANAGE</span><img class="line-step non-background" src="img/line_step.png" />
            </li>
        </ul>                            
    </div>
    <div id="funnel-step-content" class="step-content form-page">
        <form>
            <div class="step-pane active" id="funnel-step1">
                <div class="step-description">
                    <div class="step-title">
                        FUNNELS SYSTEM
                    </div>
                        Funnels system can help you discoverd a lot of secrect information behind text and number.
                        </br>
                        <b>Tips:</b>
                        <ol>
                            <li>Select your behavior with filter system included </li>
                            <li>Click NEW FUNNEL STEP to add more behavior</li>
                        </ol>

                </div>
                <div class="form-wrapper">
                    <div class="wapper">
                        <form class="step-wapper" name="funnelForm">
                            <div class="field-box">
                                <span class="title">FUNNEL'S NAME</span>

                                <input type="text" class="form-control" style="width: 50%;" placeholder="Name your funnel" ng-model="nameOfChainOfBehaviours" name="nameOfFunnel" ng-change="updateValidate()"/>

                                <span class="alert-msg" ng-show="validation">
                                    <i class="icon-remove-sign"></i>
                                    Please enter a name for your funnel
                                </span>
                            </div>
                            <div class="clearfix"></div>
                            
                            <div class="z-box" ng-repeat="behaviour in behaviours" style="margin-top:10px;">
                                <div class="z-box-header">
                                    <div class="left">
                                        <span>FUNNEL STEP {{behaviour.id + 1}}</span> 
                                        <div class="ui-select">
                                            <select ng-model="event" ng-options="event as event.name_display for event in behaviour.events" ng-init="event=behaviour.event"></select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="z-box-content">
                                    <div smg-filter metas="behaviour.metas" events="behaviour.events" metadata="behaviour.metadata" event="event" subfilters="behaviour.subfilters" oldsubfilters="behaviour.oldsubfilters" visibility="$parent.isVisibleFilter"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            
                            <div ng-hide="isVisibleFilter" class="loading-container-infor">
                                    <div title="Code: 0xe800" class="the-icons span3"><i class="icon-fontello-spin6 animate-spin loading-infor loading-icon"></i></div>
                            </div>
                            
                            <div class="add-bar shadow" ng-click="addBehaviour()" style="cursor:pointer">
                                <i class="icon-plus"></i>
                                NEW FUNNEL STEP
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- display step info -->
        </form>
    </div>
    <div class="col-md-12 with-sidebar">
        <div class="funnel-wizard-actions wizard-actions">
            <button type="button" class="btn-glow primary success btn-save" ng-disabled="validation" ng-click="bookmark()">
                <i class="icon-bookmark-empty"></i>Save
            </button>
            <button type="button" class="btn-glow primary btn-next" ng-click="funnel()" ng-disabled="validation">
                Render your funnel
            </button>
        </div>
    </div>
</div>