<div class="z-gallery">
    <div class="z-header">
        <span>{{usersGallery.length}}</span> uploaded
        <input type="file" class="right"/>
    </div>
    <div class="z-content">
        <div class="item" ng-repeat="image in usersGallery">
            <i class="icon-remove-sign" ng-click="deleteUserImage(image.id)"></i>
            <div class="mask"><img src="{{image.url}}" /></div>
            <!--<img src="{{image.url}}" ng-repeat="image in gallery"/>-->
        </div>
    </div>  
</div>